In [3]:
import pandas as pd

In [4]:
from sklearn.preprocessing import Binarizer

In [5]:
df=pd.read_csv("ingredients.csv")

In [17]:
df

    sweetness  crunchines  ingredients      class
0           1            1      cheese    protein
1           3            1        fish    protein
2           2            2      shrimp    protein
3           1            4       bacon    protein
4           3            5        nuts    protein
5           1            9     lettuce  vegetable
6           2            8   cucumber   vegetable
7           3            7  green been  vegetable
8           5           10       carot  vegetable
9           3           10      celery  vegetable
10         10            9      apple       fruit
11         10            7        pear      fruit
12          9            5       grape      fruit
13          9            2      orange      fruit
14         10            2      banana      fruit

In [12]:
bin=Binarizer(threshold=5)

In [13]:
col=df["sweetness"].values
col=col.reshape(-1,1)

In [15]:
col

array([[ 1],
       [ 3],
       [ 2],
       [ 1],
       [ 3],
       [ 1],
       [ 2],
       [ 3],
       [ 5],
       [ 3],
       [10],
       [10],
       [ 9],
       [ 9],
       [10]], dtype=int64)

In [16]:
bin.fit_transform(col)

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1]], dtype=int64)

In [19]:
df["sweetness"]=bin.fit_transform(col)

In [20]:
df

    sweetness  crunchines  ingredients      class
0           0            1      cheese    protein
1           0            1        fish    protein
2           0            2      shrimp    protein
3           0            4       bacon    protein
4           0            5        nuts    protein
5           0            9     lettuce  vegetable
6           0            8   cucumber   vegetable
7           0            7  green been  vegetable
8           0           10       carot  vegetable
9           0           10      celery  vegetable
10          1            9      apple       fruit
11          1            7        pear      fruit
12          1            5       grape      fruit
13          1            2      orange      fruit
14          1            2      banana      fruit